body{
    background:#f4f7fb;
    font-family:Arial, Helvetica, sans-serif;
}

/* ===== TOP BAR ===== */
.topbar{
    background:#002b6b;
    color:white;
    text-align:center;
    padding:6px;
    font-size:14px;
}

/* ===== HEADER ===== */
.gov-header{
    background:linear-gradient(90deg,#1e63d5,#3d8af7);
    padding:15px 0;
}

/* FORCE TEXT COLOR FIX */
.dept-title{
    color:white;
    font-weight:bold;
    margin:0;
}

.dept-sub{
    color:white;
}

/* ===== TICKER ===== */
.ticker-bar{
    background:#ffc107;
    font-weight:bold;
    padding:6px;
}

/* ===== CARD ===== */
.card{
    border:none;
    border-radius:8px;
}

/* ===== FOOTER ===== */
.gov-footer{
    background:#2f7bdc;
    color:white;
    padding:40px 0;
    margin-top:60px;
}

.gov-footer h5{
    font-weight:bold;
}
/* ===== MAIN PAGE SECTION ===== */

.main-section{
    background:#e9ecef;
    padding:80px 0;
    min-height:400px;
}

.menu-box h3{
    font-weight:bold;
    margin:20px 0;
}

.main-link{
    text-decoration:none;
    color:#000;
    transition:0.3s;
    font-size:22px;
}

.main-link:hover{
    color:#1e63d5;
}
/* ===== ADMIN LOGIN BUTTON ===== */

.admin-btn{
    background:#ffc107;
    color:#000;
    padding:8px 15px;
    text-decoration:none;
    font-weight:bold;
    border-radius:4px;
}

.admin-btn:hover{
    background:#ffca2c;
    color:#000;
}