body{
    font-family: Arial;
    background:#f4f6f9;
    margin:0;
}

.container{
    width:85%;
    margin:auto;
    background:white;
    padding:25px;
    margin-top:40px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

h2{
    text-align:center;
    color:#003366;
}

input{
    width:100%;
    padding:10px;
    margin-bottom:15px;
}

table{
    width:100%;
    border-collapse:collapse;
}

th{
    background:#003366;
    color:white;
    padding:12px;
}

td{
    padding:10px;
    border-bottom:1px solid #ddd;
}

tr:hover{
    background:#f1f1f1;
}

.btn{
    background:green;
    color:white;
    padding:6px 12px;
    text-decoration:none;
    border-radius:4px;
}

.btn:hover{
    background:darkgreen;
}