{% extends "base.html" %}
{% block content %}

<div class="card shadow">
<div class="card-header bg-primary text-white">
    Apply Online
</div>

<div class="card-body">

<form method="POST">

    <label>Name</label>
    <input type="text" name="name" class="form-control" required>

    <label class="mt-2">Date of Birth</label>
    <input type="date" name="dob" class="form-control" required>

    <label class="mt-2">Qualification</label>
    <input type="text" name="qualification" class="form-control">

    <button class="btn btn-success mt-3">Submit Application</button>

</form>

</div>
</div>

{% endblock %}