{% extends "base.html" %}
{% block content %}

<h3 class="mb-4">Edit Notice</h3>

<form method="POST">

<div class="mb-3">
<label>Date</label>
<input type="date"
name="date"
value="{{ notice.date }}"
class="form-control"
required>
</div>

<div class="mb-3">
<label>Title</label>
<input type="text"
name="title"
value="{{ notice.title }}"
class="form-control"
required>
</div>

<div class="mb-3">
<label>Category</label>

<select name="category" class="form-control">

<option value="GO"
{% if notice.category=='GO' %}selected{% endif %}>
GO
</option>

<option value="Recruitment"
{% if notice.category=='Recruitment' %}selected{% endif %}>
Recruitment
</option>

<option value="Result"
{% if notice.category=='Result' %}selected{% endif %}>
Result
</option>

<option value="Tender"
{% if notice.category=='Tender' %}selected{% endif %}>
Tender
</option>

<option value="General"
{% if notice.category=='General' %}selected{% endif %}>
General
</option>

</select>

</div>

<button class="btn btn-warning">
Update Notice
</button>

</form>

{% endblock %}
