{% extends "base.html" %}
{% block content %}

<h2>Edit Notice</h2>

<form method="POST">
    <input type="date" name="date" value="{{ notice[2] }}" required><br><br>

    <input type="text" name="title" value="{{ notice[1] }}" required><br><br>

    <select name="category">
        <option value="GO" {% if notice[3]=='GO' %}selected{% endif %}>GO</option>
        <option value="Recruitment" {% if notice[3]=='Recruitment' %}selected{% endif %}>Recruitment</option>
        <option value="Result" {% if notice[3]=='Result' %}selected{% endif %}>Result</option>
    </select><br><br>

    <button type="submit">Update</button>
</form>

{% endblock %}