{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

<h3 class="mb-3">Notice Board</h3>

<table class="table table-bordered table-striped">

<thead class="table-dark">

<tr>

<th>#</th>
<th>Memo No</th>
<th>Title</th>
<th>Category</th>
<th>Date</th>
<th>Download</th>

</tr>

</thead>

<tbody>

{% for n in notices %}

<tr>

<td>{{ loop.index }}</td>

<td>{{ n.memo_no }}</td>

<td>{{ n.title }}</td>

<td>{{ n.category }}</td>

<td>{{ n.date }}</td>

<td>

<a href="/download/{{n.id}}" class="btn btn-primary btn-sm">

Download ({{n.downloads}})

</a>

</td>

</tr>

{% endfor %}

</tbody>

</table>

</div>

{% endblock %}
