{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

<h4 class="mb-3">Notice Board</h4>

<table class="table table-bordered table-striped">

<thead class="table-dark">

<tr>
<th style="width:60px;">#</th>
<th>Memo</th>
<th style="width:150px;">Date</th>
<th style="width:120px;">Download</th>
</tr>

</thead>

<tbody>

{% for n in notices %}

<tr>

<td>{{ loop.index }}</td>

<td>{{ n.title }}</td>

<td>{{ n.date }}</td>

<td>

<a href="{{ url_for('download_file', id=n.id) }}" target="_blank">
Download
</a>

Download

</a>

</td>

</tr>

{% endfor %}

</tbody>

</table>

</div>

{% endblock %}
