{% extends "base.html" %}

{% block content %}

<h4 class="mb-4">Career / Recruitment</h4>

<div class="card p-3 mb-4">

<form method="get">

<div class="row">

<div class="col-md-3">
<label>From Date</label>
<input type="date" class="form-control">
</div>

<div class="col-md-3">
<label>To Date</label>
<input type="date" class="form-control">
</div>

<div class="col-md-3">
<label>Subject</label>
<input type="text" class="form-control">
</div>

<div class="col-md-3 d-flex align-items-end">

<button class="btn btn-success">
Search
</button>

</div>

</div>

</form>

</div>


<table class="table table-bordered table-hover">

<thead class="table-success">

<tr>
<th>#</
