{% extends "base.html" %}

{% block content %}

<h4>Career / Recruitment</h4>

<table class="table table-bordered">

<tr>
<th>#</th>
<th>Post</th>
<th>Details</th>
<th>Start Date</th>
<th>End Date</th>
<th>Download</th>
</tr>

{% for r in recruitments %}

<tr>

<td>{{ loop.index }}</td>

<td>{{ r.title }}</td>

<td>{{ r.details }}</td>

<td>{{ r.start_date }}</td>

<td>{{ r.end_date }}</td>

<td>

<a href="{{ url_for('static', filename='uploads/' + r.filename) }}" class="btn btn-primary">
Download
</a>

</td>

</tr>

{% endfor %}

</table>

{% endblock %}
