{% extends "base.html" %}
{% block content %}

<div class="card shadow col-md-6 mx-auto">

    <div class="card-header bg-info text-white">
        Upload Government Order
    </div>

    <div class="card-body">

        <form method="POST" enctype="multipart/form-data">

            <label>Select Govt Order PDF</label>
            <input type="file" name="order" class="form-control" required>

            <button class="btn btn-success mt-3 w-100">
                Upload Govt Order
            </button>

        </form>

        <div class="text-center mt-3">
            <a href="/dashboard" class="btn btn-secondary">
                Back to Dashboard
            </a>
        </div>

    </div>

</div>

{% endblock %}