@app.route("/upload_notice", methods=["GET", "POST"])
def upload_notice():

    if not session.get("admin"):
        return redirect(url_for("admin"))

    if request.method == "POST":

        title = request.form.get("title")
        category = request.form.get("category")
        date = request.form.get("date")
        file = request.files.get("pdf")

        if file and allowed_file(file.filename):

            filename = secure_filename(file.filename)
            filename = datetime.now().strftime("%Y%m%d%H%M%S_") + filename

            file.save(os.path.join(app.config["UPLOAD_FOLDER"], filename))

            notice = Notice(
                memo_no=generate_memo_number(),
                title=title,
                category=category,
                date=date,
                filename=filename
            )

            db.session.add(notice)
            db.session.commit()

            flash("Notice Uploaded Successfully ✅")

            return redirect(url_for("dashboard"))

    return render_template("upload_notice.html")
